/*assignment2.html*/

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
    color: black;
    background-color: #A9CE8B;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

a:focus,
a:hover {
    color: black;
    outline: none;
}

.navbar {
    float: right;
    position: relative;
    list-style-type: none;
    margin: 0;
    width: 20%;
}

.nav-item {
    list-style-type: none;
    display: inline-block;
    margin: 0 2% 0 2%;
    position: relative;
    right: 68%;
    border: solid 2px black;
    transition: all 0.2s ease-in-out;
}

.nav-item:focus,
.nav-item:hover {
    background-color: white;
}

.page-top {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;
    background-color: #A9CE8B;
    font-size: 20px;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
}

.page-top a {
    font-weight: 700;
    color: black;
}

#brand {
    font-size: 25px;
    font-weight: 700;
    color: black;
    float: left;
    margin: 0 0 0 1%
}

#logo-contain {
    width: 15em;
    margin: 0 auto;
    margin-top: 15%;
}

#logo-contain img {
    width: 100%;
    margin-top: 1%;
    border: 1px solid black;
}

#logo-contain img:hover {
    width: 100%;
    margin-top: 1%;
    background-color: none;
    border: 1px solid black;
}

.images {
    width: 100%;
}

#pie-contain {
    position: relative;
    left: 10em;
    bottom: 12em;
}

#salad-contain {
    position: relative;
    right: 10em;
}