/*assignment3.html*/

* {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    color: white;
    background-color: #4F5D95;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
    letter-spacing: 1px;
    margin: 1% 0;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

button {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #4F5D95;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
}

#return {
    position: absolute;
    left: 0;
}

button:focus,
button:hover {
    outline: none;
    border-radius: 5px;
    text-decoration: none;
    color: #E34C26;
}

.checkerboard {
    margin: 0 auto;
}

#brand {
    font-size: 25px;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none;
}