/*assignment3.html*/

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
    color: white;
    background-color: #575757;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

button {
    width: 50%;
    height: 50%;
}


/* Alt color: #E34C26 */

a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #4F5D95;
    text-decoration: none;
}

a:focus,
a:hover {
    outline: none;
    border-radius: 5px;
    text-decoration: underline;
}

.page-top {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;
    background-color: #575757;
    font-size: 20px;
}

#brand {
    font-size: 25px;
    font-weight: 700;
    color: white;
}

@media (min-width: 992px) {
    .page-top {
        padding-top: 20px;
        padding-bottom: 20px;
        letter-spacing: 1px;
        border-bottom: none;
        background: transparent;
    }
}

.headers {
    margin-top: 1%;
}

.headers a {
    font-size: 20px;
    text-transform: none
}

#headshot {
    width: 12em;
    margin: 0 auto;
}

#headshot img {
    width: 100%;
    margin-top: 1%
}

table.assignment-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    text-transform: none;
}

table.table-headers {
    font-size: 20px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

td {
    font-size: 18px;
    font-weight: 100
}

tr:nth-child(odd) {
    background-color: black;
}


/*All Lists Styles*/

.lists-container-two .lists-two {
    padding: 0 0 0 5%
}

.lists,
.lists-two {
    margin: 0 auto;
    padding: 0 2%;
    display: inline-block;
}

.lists li h5,
.lists-two li h5 {
    text-transform: none;
    text-decoration: underline;
    font-size: 18px;
    text-align: left;
}


/* Lists Styles */

.lists li {
    margin: 0 auto;
    padding: 0;
    padding-top: 0.5%;
    text-align: left;
    list-style-type: none;
}

.lists li.list-item::before {
    font-size: 14px;
    text-transform: none;
    content: "•"
}

.lists li a {
    text-transform: none;
    font-size: 16px;
}


/* Nested Lists Styles */

.lists-container-two {
    margin-top: 2%
}

.lists-two li {
    list-style-type: none;
}

.lists-two li.edu-list-two-item {
    margin: 0 auto;
    padding: 0;
    padding-top: 0.5%;
    text-align: left;
}

.lists-two li.edu-list-two-item::before {
    font-size: 14px;
    text-transform: none;
    content: "•"
}

.lists-two li a {
    text-transform: none;
    font-size: 16px;
}

#ordered-list {
    margin-top: 3%;
    counter-reset: job-counter -1;
}

#ordered-list li {
    counter-increment: job-counter;
}

#ordered-list li.ul-item::before {
    font-size: 14px;
    text-transform: none;
    content: counter(job-counter) ". ";
}

footer {
    width: 50%;
    border: solid 2px white;
    padding: 1%;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 2%;
}

.font {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 0;
}

.font-default {
    color: white;
    background-color: transparent;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media (max-width: 1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media (max-width: 767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

::-moz-selection {
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
    text-shadow: none;
}

::selection {
    background: #fcfcfc;
    background: rgba(255, 255, 255, 0.2);
    text-shadow: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}