/*BWN Custom Styles*/

@media(max-width: 400px) {
    .work-section {
        margin-top: 20% !important;
    }
}

@media(max-width: 900px) {
    h4 {
        font-size: 1rem;
    }
    .inner-portfolio-containers {
        width: 80% !important;
        padding: 3% 0 0 0;
        font-family: Cabin, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    #first-container {
        padding-top: 17%;
    }
    .work-section div {
        padding-bottom: 3%;
    }
}

#headshot{
    width: 40%;
}

ul.list-inline.banner-social-buttons li{
    margin: 2%;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 3%;
    right: 1%;
    background-color: #42dca3;
    color: white;
    border-radius: 50px;
    text-align: center;
    z-index: 10;
}

.my-float {
    margin-top: 22px;
}

#made {
    background-size: 50%
}

h4 {
    margin: 0 !important;
}

.work-section {
    margin-top: 15%
}

.work-section div {
    padding-bottom: 5%;
}

.inner-portfolio-containers {
    padding: 3% 0 0 0;
    border: 1px solid;
    margin: 0 auto;
    width: 80%;
    font-family: Cabin, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#credit {
    padding: 0
}

.about-bryan {
    padding-top: 2%;
    line-height: 1.5em;
}

.bwn-email-button {
    padding-top: 5%
}

#linkedin-btn {
    padding-left: 2%
}

.content-section div {
    padding: 3% 0 5% 0;
}

.inner-portfolio-containers {
    padding: 5% 0 5% 0;
    border: 1px solid;
    margin: 0 auto;
    width: 30%;
}

.content-section div {
    padding: 1% 0 1% 0;
}

#contact {
    padding-top: 5%;
}

#map-button-contain {
    display: flex;
    justify-content: center;
}

img.bnhlegal {
    float: left;
    position: relative;
    left: 2em;
    bottom: 17em;
    height: auto;
    width: 30%;
}

img.linear-regression-code {
    float: left;
    position: relative;
    left: 2em;
    bottom: 20em;
    height: auto;
    width: 30%;
}

img.linear-regression-plot {
    float: right;
    position: relative;
    right: 2em;
    bottom: 20em;
    height: auto;
    width: 30%;
}

img.cb-image {
    float: right;
    position: relative;
    right: 2em;
    bottom: 20em;
    height: auto;
    width: 30%;
}

img.made-image {
    float: left;
    position: relative;
    left: 60px;
    bottom: 300px;
    height: auto;
    width: 20%;
}

img.cprog-image{
    float: left;
    position: relative;
    left: 3em;
    bottom: 20em;
    height: auto;
    width: 25%;
}

img.oac-image {
    float: right;
    position: relative;
    right: 2em;
    bottom: 20em;
    height: auto;
    width: 30%;
}

img.pbs-image {
    float: left;
    position: relative;
    left: 3em;
    bottom: 20em;
    height: auto;
    width: 30%;
}

div#java-inner{
    padding: 3% 0 3% 0;
}

#java-inner div{
    padding: 3px;
    font-size: 16px;
}

img.java-image{
    float: right;
    position: relative;
    bottom: 28em;
    width: 25%;
    right: 6em;
    height: 31em;
}

img.unix-image {
    float: left;
    position: relative;
    left: 3em;
    bottom: 20em;
    height: auto;
    width: 30%;
}

img.x86-image {
    float: left;
    position: relative;
    left: 3em;
    bottom: 35em;
    height: auto;
    width: 30%;
}

// .img-containers{
//     padding: 5% 0 5% 0;
//     border: 1px solid;
//     margin: 0 auto;
//     width: 30%;
//     margin-top: 5%;
//     height: 20em;
// }

/*End Custom Styles*/

@import 'variables.scss';
@import 'mixins.scss';
body {
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin: 0 0 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 25px;
    @media(min-width: 768px) {
        font-size: 18px;
        line-height: 1.6;
        margin: 0 0 35px;
    }
}

a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: $primary;
    &:focus,
    &:hover {
        text-decoration: none;
        color: darken($primary, 20%);
    }
}

#mainNav {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;
    border-bottom: 1px solid fade-out(white, .7);
    background-color: black;
    .navbar-toggler {
        font-size: 14px;
        padding: 11px;
        color: white;
        border: 1px solid white;
    }
    .navbar-brand {
        font-weight: 700;
    }
    a {
        color: white;
    }
    .navbar-nav {
        .nav-item {
            -webkit-transition: background 0.3s ease-in-out;
            -moz-transition: background 0.3s ease-in-out;
            transition: background 0.3s ease-in-out;
            &:hover {
                color: fade(white, 80%);
                outline: none;
                background-color: transparent;
            }
            &:active,
            &:focus {
                outline: none;
                background-color: transparent;
            }
        }
    }
    @media(min-width:992px) {
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        letter-spacing: 1px;
        border-bottom: none;
        background: transparent;
        &.navbar-shrink {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid fade-out(white, .7);
            background: black;
        }
        .nav-link.active {
            outline: none;
            background-color: rgba(white, .3);
            &:hover {
                color: white;
            }
        }
    }
}

.masthead {
    display: table;
    width: 100%;
    height: auto;
    padding: 200px 0;
    text-align: center;
    color: white;
    background: url('../img/site/intro-bg.jpg') no-repeat bottom center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        .brand-heading {
            font-size: 50px;
        }
        .intro-text {
            font-size: 18px;
        }
    }
    @media(min-width:768px) {
        height: 100%;
        padding: 0;
        .intro-body {
            .brand-heading {
                font-size: 100px;
            }
            .intro-text {
                font-size: 22px;
            }
        }
    }
}

.btn-circle {
    font-size: 26px;
    width: 55px;
    height: 55px;
    margin-top: 15px;
    line-height: 45px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    color: white;
    border: 2px solid white;
    border-radius: 100% !important;
    background: transparent;
    &:focus,
    &:hover {
        color: white;
        outline: none;
        background: fade-out(white, .9);
    }
}

.content-section {
    padding-top: 150px;
    padding-bottom: 150px;
}

.download-section {
    color: white;
    background: url('../img/site/downloads-bg.jpg') no-repeat center center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#map {
    width: 100%;
    height: 300px;
}

@media(min-width:992px) {
    .content-section {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    #map {
        height: 350px;
    }
}

.btn {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    border-radius: 0;
}

.btn-default {
    color: $primary;
    border: 1px solid $primary;
    background-color: transparent;
    &:focus,
    &:hover {
        color: black;
        border: 1px solid $primary;
        outline: none;
        background-color: $primary;
    }
}

ul.banner-social-buttons {
    margin-top: 0;
    @media(max-width: 1199px) {
        margin-top: 15px;
    }
    @media(max-width:767px) {
        li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

footer {
    padding: 50px 0;
    p {
        font-size: 14px;
        margin: 0;
    }
}

::-moz-selection {
    background: #fcfcfc;
    background: fade-out(white, .8);
    text-shadow: none;
}

::selection {
    background: #fcfcfc;
    background: fade-out(white, .8);
    text-shadow: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}